@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: blue;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

nav {
  margin-top: 50px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

ul > li > input#task {
  min-width: 600px;
}

ul > li.clTasks {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-align: left;
  min-width: 600px;
}

ul > li > button.clDelTask {
  border: none;
  border-radius: 8px;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 1em;
  margin-left: auto;
  margin-right: 10px;
}

ul > li > input.clDoneTask {
  width: 26px;
  height: 30px;
  accent-color: green;
}

nav > ul > li > input,
button#btAddTask {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1em;
  transition: transform 0.3s ease;
}

button#btAddTask:hover {
  cursor: pointer;
  transform: scale(1.03, 1.03);
  background-color: rgb(0, 255, 0);
}

footer {
  background-color: black;
  text-align: center;
  padding: 15px;
  color: white;
}

@media (max-width: 650px) {
  h1 {
    font-size: 25px;
  }

  main {
    margin: auto;
  }

  ul > li > input#task {
    min-width: 300px;
    font-size: 1em;
  }

  ul > li.clTasks {
    min-width: 300px;
    height: 40px;
    font-size: 0.9em;
  }
}
